<form action="/characters/create" method="POST">
	<label
		>Character Name:
		<input name="name" />
	</label>
	<label
		>Character Occupation:
		<input name="occupation" />
	</label>
	<label
		>Character Debt:
		<input name="debt" type="checkbox" />
	</label>
	<label
		>Character Weapon:
		<input name="weapon" />
	</label>
	<button type="submit">Create!</button>
</form>
