<h1>CREATE YOUR CHARACTER HERE</h1>

<form method="POST" action="/characters/create">
  <label>name:<input type="text" name="name" required /></label>
  <label>occupation:<input type="text" name="occupation" required /></label>
  <label>weapon :<input type="text" name="weapon" required /></label>
  <label>debt:<input type="checkbox" name="debt" required /></label>
  <button type="submit">CREATE</button>
  
</form>

